html {
  background-color: #000000ff;
  color: white;
  font-family: arial;
  font-size: 13px;
}
header {
  height: 3vh;
  display: flex;
  justify-content: flex-end;
}
content {
  height: 63vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  color: white;
  text-decoration: none;
  padding-right: 0.8vw;
  padding-top: 1vh;
}
a:hover {
  text-decoration: underline;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}
.input-bar {
  width: 30vw;
  height: 4.3vh;
  background-color: #4d5156;
  color: white;
  border-width: 0;
  border-radius: 40px;
}
.input-submit {
  width: 5vw;
}
.input-bar:hover {
}
